@tailwind base; 
@tailwind components;
@tailwind utilities;

@theme {
  --color-ari-turuncu: #E8960A;
  --color-ari-koyu: #2a1500;
}

body {
  background: #0a0a0a;
  color: white;
  font-family: sans-serif;
  margin: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #111827 inset !important;
  -webkit-text-fill-color: white !important;
}