@tailwind base; 
@tailwind components;
@tailwind utulities;

@theme {
  --color-ari-turuncu: #E8960A;
  --color-ari-koyu: #2a1500;
}

body {
  background: #0a0a0a;
  color: white;
  font-family: sans-serif;
  margin: 0;
}